<form class="Formulario FormularioCrear">
    <h3>Crear juego</h3>
    <fieldset>
        <label class="Label" for="id">ID juego</label>
        <input class="Input" type="number" name="id" id="id" placeholder="Id" required>

        <label class="Label" for="uno">Nombre jugador 1</label>
        <input class="Input" type="text" name="uno" id="uno" placeholder="Nombre" required>

        <label class="Label" for="dos">Nombre jugador 2</label>
        <input class="Input" type="text" name="dos" id="dos" placeholder="Nombre" required>

        <label class="Label" for="tres">Nombre jugador 3</label>
        <input class="Input" type="text" name="tres" id="tres" placeholder="Nombre" required>
    </fieldset>
    <input class="AgregarBoton Boton" type="submit" value="Crear" action="inicio">
</form>
<a href="inicio">Inicio</a>
</body>

<script src="/js/crear.js"></script>