<div class="Grid">
    <div>
        <table class="Tabla">
            <thead>
                <h3>Juego</h3>
                <tr>
                    <th>Id</th>
                    <th>Jugador 1</th>
                    <th>apuesta</th>
                    <th>Jugador 2</th>
                    <th>apuesta</th>
                    <th>Jugador 3</th>
                    <th>apuesta</th>
                </tr>
            </thead>
            <tbody id="tablaJuego">
            </tbody>
        </table>
    </div>

    <div>
        <table class="Tabla">
            <thead>
                <h3>Ganador</h3>
                <tr>
                    <th>Jugador</th>
                    <th>apuesta</th>
                </tr>
            </thead>
            <tbody id="tablaGanador">
            </tbody>
        </table>
    </div>
</div>

<a href="/juego/inicio">Volver a inicio</a>
</body>

</html>